body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 40px;
    text-align: center;
}

.project {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.experience-item {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.experience-item h3 {
    color: #333;
}

.experience-item p {
    margin-bottom: 10px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #333;
    margin-bottom: 10px;
    object-fit: cover;
}
